.customer-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.customer-form {
  background-color: rgb(211, 207, 207);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px gray;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 25px;
}

.customer-label {
  margin-top: 10px;
}

.customer-label input, .customer-label textarea {
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 5px;
  border-right: 0;
  border-top: 0;
  font-size: 12pt;
  height: 25px;
  margin-top: 5px;
  text-indent: 10px;
  width: 300px;
}

.customer-label textarea {
  height: 120px;
  resize: none;
}

.customer-label input:focus, .customer-label textarea:focus {
  border-bottom: 2px solid gray;
  box-shadow: 0 0 7px 1px blue;
  outline: none;
}

.insert-btn {
  background-color: lime;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 12pt;
  height: 2em;
  margin-top: 10px;
}

.insert-btn:hover {
  background-color: green;
  box-shadow: none;
  color: white;
}

.insert-btn:focus {
  outline: none;
}
