<section class="customer-container">
  <div class="customer-form-container">
    <h1>Insira os dados do cliente</h1>
    <form class="customer-form" action="#">
      <label for="nome" class="customer-label">
        <p>Nome</p>
        <input
          type="text"
          id="nome"
          name="nomeCliente"
          placeholder="Nome Completo"
        />
      </label>
      <label for="cpf" class="customer-label">
        <p>CPF</p>
        <input
          type="text"
          id="cpf"
          name="cfpCliente"
          placeholder="CPF"
        />
      </label>
      <label for="tel" class="customer-label">
        <p>Telefone</p>
        <input
          type="text"
          id="tel"
          name="telefone"
          placeholder="Número de telefone ou celular"
        />
      </label>
      <label for="obs" class="customer-label">
        <p>Observação</p>
        <textarea
          name="observacao"
          id="obs"
          placeholder="Digite informações adicionais"
        ></textarea>
      </label>
      <label for="end" class="customer-label">
        <p>Endereço</p>
        <input
          type="text"
          id="end"
          name="endereco"
          placeholder="Ex: Av. Paulista, 208, São Paulo"
        />
      </label>
      <button class="insert-btn">Cadastrar</button>
    </form>
  </div>
</section>

<!-- Nome, cpf, telefone, observação, endereço -->