<section class="customer-container">
  <div class="customer-form-container">
    <h1>Insira os dados do cliente</h1>
    <form class="customer-form" (ngSubmit)="saveCliente()">
      <label for="nome" class="customer-label">
        <p>Nome</p>
        <input
          type="text"
          name="nomeCliente"
          [(ngModel)]="cliente.nome"
          placeholder="Nome Completo"
        />
      </label>
      <label for="cpf" class="customer-label">
        <p>CPF</p>
        <input
          type="text"
          name="cfpCliente"
          [(ngModel)]="cliente.cpf"
          placeholder="CPF"
        />
      </label>
      <label for="tel" class="customer-label">
        <p>Telefone</p>
        <input
          type="text"
          name="telefone"
          [(ngModel)]="cliente.telefone"
          placeholder="Número de telefone ou celular"
        />
      </label>
      <label for="obs" class="customer-label">
        <p>Observação</p>
        <textarea
          name="observacao"
          [(ngModel)]="cliente.observacao"
          placeholder="Digite informações adicionais"
        ></textarea>
      </label>
      <label for="end" class="customer-label">
        <p>Endereço</p>
        <input
          type="text"
          name="endereco"
          [(ngModel)]="cliente.endereco"
          placeholder="Ex: Av. Paulista, 208, São Paulo"
        />
      </label>
      <button type="submit" class="insert-btn">Cadastrar</button>
    </form>
  </div>
</section>
