.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.welcome-container h1 {
  font-size: 30pt;
}

.welcome-container p {
  font-size: 14pt;
  margin-top: 50px;
}
